{% extends "admin/base.html.twig" %}

{% block title %}{{ parent() }} Accueil {% endblock %}

{% block contentTitle %}Panneau d'administration {% endblock %}

{% block contentSubtitle %}Accueil{% endblock %}

{% block content %}
    
    {% for message in app.session.flashbag.get('info') %}
        <div  class="modal fade" id="flashbagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Info</h4>
                    </div>
                    <div class="modal-body">
                        {{ message }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        
    {% endfor %}

    


              
{% endblock %}

{% block JSfiles %}
{{ parent() }}
<script>
    $(document).ready(function () {

        $('#flashbagModal').modal('show');

    });
    </script>
{% endblock %}


