<aside class="col-md-3">

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12">
            <h3>Aidez-nous !</h3>
            <p>..En faisant un don, financier ou matériel, en adhérant à notre association, mais également en devenant bénévole ! Consultez la rubrique "Nous aider"</p>
        </div>
    </div>

</aside>