{% extends "front/base.html.twig" %}

{% block content %}
<section id="spuppie">
	
	<!-- begin Our Puppies -->
	<article>
	<div class="container">

		<div class="row">
			<div class="col-xs-12"><h2>{{ page.title }}</h2></div>
		</div>

        <br/>
		<div class="row">
			<div class="col-md-12" style="text-align:center;">
				<img src="{{ asset(page.image.webPath) }}" alt="photo {{ page.title }}" style="width:unset; heigth:400px;"/>

			</div>
           <br/>
            <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12">
            {{ page.content }}


            </div>

            </div>
				
		 </div>
	</div>
	</article>

</section>

{% endblock %}
